/*
  Threme Name: Robinu Threme
  URI: https://sheshui.me/
  Version: 2.0
  Author: Robin L. info@sheshui.net
  Description: Responsive Web Design
*/

/* General Styles */
aside li {
    list-style: none;
}

li strong, blockquote strong {
    font-weight: bold;
}

a {
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

a img {
    outline: none;
}

.meta {
    clear: both;
    padding-top: .5rem;
    border-top: 1px dotted #E9E9E9;
    display: flex;
    justify-content: space-between;
}

a:hover span,
a:hover, a:focus {
    text-decoration: underline;
}

a:focus, a:active {
    text-decoration: none;
}

.clearfix {
    clear: both;
    float: none;
    font-size: 1px;
    height: 0;
    line-height: 0;
}

.clearfloat:after {
    content: '';
    display: block;
    clear: both;
}

input[type=text] {
    border-width: 1px;
    border-style: solid;
    border-color: #DDDDDD #E4E4E4 #E4E4E4 #DDDDDD;
    height: auto;
    padding: .5rem;
    vertical-align: middle;
    outline: none;
}

.hidden {
    display: none;
}

/* Layout Styles */
.top, .main, .bottom {
    clear: both;
    padding-top: 20px;
}

.main section {
    float: left;
    width: 800px;
}

aside {
    float: right;
    width: 290px;
    padding: 14px 0 0;
    margin-bottom: 20px;
    box-shadow: 0 0 2px rgb(0 0 0 / 20%);
}

/* Tag Styles */
.taglist {
    display: flex;
    flex-flow: wrap;
    gap: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.taglist a {
    padding: 0;
    display: inline-block;
    white-space: nowrap;
}

a.size1 {
    font-size: 14px;
    color: #804D40;
}

a.size1:hover {
    color: #E13728;
}

a.size2 {
    font-size: 14px;
    color: #B9251A;
}

a.size2:hover {
    color: #E13728;
}

a.size3 {
    font-size: 16px;
    color: #C4876A;
}

a.size3:hover {
    color: #E13728;
}

a.size4 {
    font-size: 18px;
    color: #B46A47;
}

a.size4:hover {
    color: #E13728;
}

a.size5 {
    font-size: 20px;
    color: #E13728;
}

a.size5:hover {
    color: #B46A47;
}

a.size6 {
    font-size: 22px;
    color: #77625E;
}

a.size6:hover {
    color: #E13728;
}

/* Aside Styles */
aside ul {
    margin-bottom: 0;
}

article {
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 0 2px rgb(0 0 0 / 20%);
    -webkit-transition: top 1s ease, left 1s ease;
    -moz-transition: top 1s ease, left 1s ease;
    -o-transition: top 1s ease, left 1s ease;
    -ms-transition: top 1s ease, left 1s ease;
}

aside a:hover {
    text-decoration: underline;
}

aside h2, aside h3 {
    font-weight: bold;
    margin-bottom: 5px;
}

aside h3 {
    font-size: 16px;
    margin: 0 -8px;
    padding: 5px 8px;
    background-color: rgba(233, 233, 233, .3);
}

aside .widget {
    padding: 0 8px 8px;
}

aside .widget p {
    padding: 5px 0;
}

aside .search input[type=text] {
    height: 40px;
    padding: 6px;
    flex: 1;
    background: inherit;
    width: 100%;
}

aside .search {
    display: flex;
}

aside .search input.btn {
    height: 40px;
    border: 0 none;
    vertical-align: middle;
    outline: none;
    border-radius: 0;
    padding: 6px;
}

.search input.btn {
    width: 80px;
    height: 42px;
    padding: 0;
    border: 0 none;
    vertical-align: middle;
    outline: none;
    background-color: #E4E4E4;
    border-radius: 0;
}

aside .search input.btn:hover {
    cursor: pointer;
}

aside .search p {
    padding: 0;
}

aside > div:last-child {
    margin-bottom: 0;
}

aside nav a {
    text-decoration: none;
}

aside nav a:hover {
    text-decoration: underline;
}

aside nav li {
    padding: 0.2rem 0 0.2rem 10px;
}

aside li {
    margin: 0 -16px;
}

aside ol, ul {
    padding-left: 1rem;
}

aside li a {
    display: block;
    padding: 0.5rem 0;
    text-decoration: none;
}

aside li a .time {
    float: right;
    font-size: .8rem;
    line-height: 1.8rem;
    color: #999;
}

aside li.active {
    position: relative;
}

aside li.active:after {
    position: absolute;
    left: 0;
    top: 6px;
    border: 10px solid transparent;
    content: " ";
    height: 0;
    width: 0;
    pointer-events: none;
    border-left-color: rgba(237, 237, 239, 1);
}

aside li.active a {
    font-weight: bold;
}

aside li a:hover {
    text-decoration: none;
}

/* Comment Styles */
.comment {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px 10px 20px 10px;
    box-shadow: 0 0 2px rgb(0 0 0 / 20%);
}

/* Responsive Styles */
@media screen and (max-width: 1280px) {
    body {
        overflow: auto;
    }
}

@media screen and (max-width: 1024px) {

    .main, .top header, .bottom {
        width: auto;
    }

    .main section {
        width: 70%;
    }

    .main aside {
        width: 29%;
    }
}

@media screen and (max-width: 960px) {

    .top header, .main, .bottom {
        width: auto;
    }

    .top {
        background-color: transparent;
    }

    header nav.mainnav, header .site-name {
        display: none;
    }

    .gn-menu-main {
        display: block;
    }
}

@media screen and (max-width: 800px) {
    .main section,
    .main aside {
        width: 100%;
    }

    .main aside .widget {
        float: left;
        width: 30%;
    }

    aside .archives {
        height: auto;
    }
}

@media screen and (max-width: 720px) {
    .main article {
        width: auto;
    }

    .main aside .widget {
        width: 50%;
    }

    .albums .container {
        width: 720px;
    }

    .pager-nav p.next, .pager-nav p {
        float: none;
        width: auto;
        text-align: left;
    }
}

@media screen and (max-width: 640px) {
    .main aside .widget {
        width: 100%;
    }


    .albums .container {
        width: 640px;
    }
}

/* Bootstrap & Other Styles */
.nav-item {
    padding-right: 20px;
}

.pagination {
    margin-bottom: 20px;
    overflow-x: auto;
}

a {
    text-decoration: unset;
}

a:hover {
    text-decoration: unset;
}

.container {
    max-width: 1140px;
}

.active {
    font-weight: 500;
}

.navbar {
    border-bottom: 1px solid rgba(232, 233, 233, .5);
    background-color: var(--bs-body-bg);
}

.sticky-top {
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

footer {
    padding: 50px 0;
}

.preview-img {
    padding-bottom: 8px;
    width: 100%;
    object-fit: cover;
    max-height: 256px;
}

li.page-item {
    white-space: nowrap;
}

.copyright {
    display: flex;
    justify-content: center;
    gap: 8px;
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
    .comment {
        box-shadow: 0 0 2px rgba(198, 198, 198, 0.5);
    }

    article {
        box-shadow: 0 0 2px rgba(198, 198, 198, 0.5);
    }

    aside {
        box-shadow: 0 0 2px rgba(198, 198, 198, 0.5);
    }

    .markdown-body table th,
    .markdown-body table td {
        border: 1px solid rgba(198, 198, 198, 0.5);
    }

    .markdown-body table tr {
        background-color: #212529 !important;
        border-top: 1px solid rgba(198, 198, 198, 0.5);
    }

    .markdown-body table tr:nth-child(2n) {
        background-color: #212529 !important;
    }

    .markdown-body code.hljs {
        background: #0c0b0b;
    }
}

.markdown-body pre {
    padding: 0 !important;
    border-radius: 4px !important;
}

@media (prefers-color-scheme: light) {
    .navbar-custom .navbar-brand {
        color: #ffffff; /* 白色字体 */
    }

    .navbar-custom .nav-link {
        color: #ffffff; /* 白色字体 */
    }
}

article .title {
    margin-bottom: 8px;
    padding-bottom: 8px;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: .5px solid #eee;
}