{% extends "_layout.njk" %}

{% block content %}
{% import "_macro/ui.njk" as ui with context %}
{% import "_macro/archive.njk" as archive with context %}
<section class="section-shell">
    <header class="section-header">
        <h1 class="section-title">
            {% if page.year and is_archive() %}
            {{ __('nav.archives') }}: {{ page.year }}
            {% else %}
            {{ __('nav.archives') }}
            {% endif %}
        </h1>
        {{ ui.divider() }}
    </header>

    {% set posts = page.posts.sort('date', -1) %}

    {% if posts.length > 0 %}
        {{ archive.render_list(posts) }}
    {% else %}
        {% include "_partial/common/empty.njk" %}
    {% endif %}

    {% include "_partial/common/pagination.njk" %}
</section>
{% endblock %}
