{% extends "_layout.njk" %}

{% block content %}
<article class="content-article">
    <header class="text-center mb-8">
        <h1 class="page-title mb-4">
            {{ page.title }}
        </h1>
    </header>

    <div class="prose-shiro">
        {{ page.content }}
    </div>
</article>
{% endblock %}
